In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
from datetime import datetime

In [3]:
my_year = 2021
my_month = 3
my_day = 3
my_hour = 20
my_minute = 52
my_second = 10

In [4]:
my_date = datetime(my_year, my_month, my_day, my_hour, my_minute, my_second)

In [5]:
my_date

datetime.datetime(2021, 3, 3, 20, 52, 10)

In [6]:
first_two = [datetime(2016,1,1), datetime(2016,1,2)]

In [7]:
type(first_two)

list

In [8]:
first_two

[datetime.datetime(2016, 1, 1, 0, 0), datetime.datetime(2016, 1, 2, 0, 0)]

In [9]:
dt_ind = pd.DatetimeIndex(first_two)

In [10]:
dt_ind

DatetimeIndex(['2016-01-01', '2016-01-02'], dtype='datetime64[ns]', freq=None)

In [11]:
data = np.random.randn(2,2)

In [12]:
data

array([[ 0.45458684, -1.00500281],
       [-1.78523218, -0.06797047]])

In [13]:
cols = ['a','b']

In [14]:
df = pd.DataFrame(data, dt_ind,cols)

In [15]:
df

                   a         b
2016-01-01  0.454587 -1.005003
2016-01-02 -1.785232 -0.067970

In [16]:
df.index.argmax()

1

In [17]:
df.index.max()

Timestamp('2016-01-02 00:00:00')

# Time Resampling